/* Importamos las fuentes para el sitio web */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* || Los estílos principales */

* {
    box-sizing: border-box;
}

header,
nav ul,
h2,
p,
footer,
label,
address {
    font-family: "Merriweather", serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: #457B9D;
    border-radius: 3px;
    color: #F0F9F9;
    height: 100px;
    align-items: center;
    font-weight: 900;
    font-style: normal;
}

#logo {
    max-height: 100%;
    width: auto;
}

body {
    background-color: #F1FAEE;
}

nav ul {
    border-radius: 3px;
    background-color: #457B9D;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
}

nav ul,
nav a {
    padding: 18px;
}

nav li {
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a.active {
    background-color: #1D3557;
}

nav a:hover {
    background-color: #E63946;
}

section {
    border: 1px solid black;
    margin: 5px 0;
    padding: 10px 20px;
    background-color: #A8DADC;
}

h2 {
    font-weight: 700;
    font-style: normal;
}

p {
    font-weight: 300;
    font-style: normal;
}

footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #457B9D;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 300;
    font-style: normal;
}

.fa {
    padding: 20px;
    margin-right: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: .7;
}

.fa-google {
    background: crimson;
    color: white;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}

/* || Los estílos para la forma */

input[type=text],
input[type=email],
input[type=tel],
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    font-family: inherit;
}

textarea {
    resize: vertical;
}

input[type=submit] {
    background-color: #0465aa;
    color: #F1FAEE;
    padding: 12px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #454da0;
}

.container {
    border-radius: 5px;
    background-color: #A8DADC;
    padding: 20px;
}

.required {
    color: #E63946;
}

/* || Los estílos para la galería */

.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    width: 50%;
    margin-left: 12vw;
    background-color: #A8DADC;
}

.image-item {
    width: 100%;
}

.image-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* || Los estílos para el contacto */

img.building {
    max-width: 100%;
}