/* Importamos las fuentes para el sitio web */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* || Los estílos principales */

* {
    box-sizing: border-box;
}

header,
nav ul,
h2,
p,
footer,
label,
address,
legend,
.checkboxes-label {
    font-family: "Merriweather", serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: #457B9D;
    border-radius: 3px;
    color: #F0F9F9;
    height: 100px;
    align-items: center;
    font-weight: 900;
    font-style: normal;
}

#logo {
    max-height: 100%;
    width: auto;
}

body {
    background-color: #F1FAEE;
}

nav {
    position: sticky;
    top: 0;
    /* Si no aplicamos z-index el mapa va a cubrir la navegación */
    z-index: 10000;
}

nav ul {
    border-radius: 3px;
    background-color: #457B9D;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
}

nav ul,
nav a {
    padding: 18px;
}

nav li {
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a.active {
    background-color: #1D3557;
}

nav a:hover {
    background-color: #E63946;
}

section {
    border: 1px solid black;
    margin: 5px 0;
    padding: 10px 20px;
    background-color: #A8DADC;
}

h2 {
    font-weight: 700;
    font-style: normal;
}

p {
    font-weight: 300;
    font-style: normal;
}

footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #457B9D;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 300;
    font-style: normal;
}

.fa {
    padding: 20px;
    margin-right: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: .7;
}

.fa-google {
    background: crimson;
    color: white;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}

#location {
    margin-right: auto;
}

#newsContainer {
    height: 800px;
}

/* || Los estílos para la forma */

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    font-family: inherit;
}

legend {
    background-color: #457B9D;
    color: white;
    border-radius: 3px;
}

input[type=button] {
    background-color: #0465aa;
    color: #F1FAEE;
    padding: 12px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #454da0;
}

.container {
    border-radius: 5px;
    background-color: #A8DADC;
    padding: 20px;
}

.required {
    color: #E63946;
}

.extras-list {
    list-style: none;
    padding: 0;
}

/* || Los estílos para la galería */

.slideshow-container {
    max-width: 17%;
    height: 60vh;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    max-width: 100%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #457B9D;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

/* || Los estílos para el contacto */

#map {
    max-width: 50%;
    height: 80vh;
}