<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel=stylesheet href=../styles/style.css>
        <title>Presupuestos</title>
    </head>
    <body>
        <header>
            <h1>Componentes mecánicos</h1>
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Página principal</a></li>
                <li><a href="presupuestos.html">Presupuestos</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="#" class="active">Contacto</a></li>
            </ul>
        </nav>
        <main>
            <h2>Aquí está nuestra ubicación:</h2>
            <section>
                <img class="building" src="../images/ubicacion.jpg">
                <address>
                    Teléfono: 3553556553<br>
                    Email: mecacomp@gmail.com
                </address>
            </section>
        </main>
    </body>
</html>