<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel=stylesheet href=../styles/style.css>
        <!-- Nececitamos esta librería para incluir logotipos en el pie de la página -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script defer src="../scripts/productos.js"></script>
        <title>Presupuestos</title>
    </head>
    <body>
        <header>
            <img id="logo"
                 src="../images/logo.webp"
                 alt="logotipo"
                 width="900"
                 height="612">
            <h1>Componentes mecánicos</h1>
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Página principal</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="#" class="active">Productos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <main>
            <section>
                <h2>Aquí puede ver nuestros productos:</h2>
                <div class="slideshow-container">
                    
                    <div class="mySlides fade">
                        <img src="../images/image1.jfif"
                             alt="componente mecánico"
                             width="255"
                             height="255">
                    </div>

                    <div class="mySlides fade">
                        <img src="../images/image2.jfif"
                             alt="componente mecánico"
                             width="255"
                             height="255">
                    </div>
                
                    <div class="mySlides fade">
                        <img src="../images/image3.jfif"
                             alt="componente mecánico"
                             width="255"
                             height="197">
                    </div>

                    <div class="mySlides fade">
                        <img src="../images/image4.jfif"
                             alt="componente mecánico"
                             width="232"
                             height="217">
                    </div>

                    <div class="mySlides fade">
                        <img src="../images/image5.jfif"
                             alt="componente mecánico"
                             width="259"
                             height="195">
                    </div>

                    <div class="mySlides fade">
                        <img src="../images/image6.jfif"
                             alt="componente mecánico"
                             width="248"
                             height="203">
                    </div>
                    
                    <div class="mySlides fade">
                        <img src="../images/image7.jfif"
                             alt="componente mecánico"
                             width="168"
                             height="300">
                    </div>
                    
                    <div class="mySlides fade">
                        <img src="../images/image8.jfif"
                             alt="componente mecánico"
                             width="296"
                             height="170">
                    </div>
                    
                    <div class="mySlides fade">
                        <img src="../images/image9.jfif"
                             alt="componente mecánico"
                             width="255"
                             height="255">
                    </div>
                    
                    <div class="mySlides fade">
                        <img src="../images/image10.webp"
                             alt="componente mecánico"
                             width="256"
                             height="256">
                    </div>
                    
                    <div class="mySlides fade">
                        <img src="../images/image11.jpg"
                             alt="componente mecánico"
                             width="400"
                             height="307">
                    </div>
                    
                    <div class="mySlides fade">
                        <img src="../images/image12.jpg"
                             alt="componente mecánico"
                             width="512"
                             height="512">
                    </div>
                
                    <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
                    <a class="next" onclick="changeSlide(1)">&#10095;</a>
                </div>
            </section>
        </main>
        <footer>
            <span id="location">6, Calle del Tinte, San Isidro,
                Distrito I, Alcalá de Henares, Community of Madrid, 28801</span>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            Copyright Mecacomp 2024
        </footer>
    </body>
</html>