<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel=stylesheet href=../styles/style.css>
        <title>Presupuestos</title>
    </head>
    <body>
        <header>
            <h1>Componentes mecánicos</h1>
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Página principal</a></li>
                <li><a href="presupuestos.html">Presupuestos</a></li>
                <li><a href="#" class="active">Productos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <main>
            <h2>Aquí puede ver nuestros productos:</h2>
            <div class="images-container">
                <div class="image-item">
                    <img src="../images/image1.jfif"
                         alt="Componentes mecánicos">
                </div>
                <div class="image-item">
                    <img src="../images/image2.jfif"
                         alt="Componentes mecánicos">
                </div>
                <div class="image-item">
                    <img src="../images/image3.jfif"
                         alt="Componentes mecánicos">
                </div>
                <div class="image-item">
                    <img src="../images/image4.jfif"
                         alt="Componentes mecánicos">
                </div>
                <div class="image-item">
                    <img src="../images/image5.jfif"
                         alt="Componentes mecánicos">
                </div>
                <div class="image-item">
                    <img src="../images/image6.jfif"
                         alt="Componentes mecánicos">
                </div>
                <div class="image-item">
                    <img src="../images/image7.jfif"
                         alt="Componentes mecánicos">
                </div>
                <div class="image-item">
                    <img src="../images/image8.jfif"
                         alt="Componentes mecánicos">
                </div>
            </div>
        </main>
    </body>
</html>